@charset "utf-8";
.container-fluid {
    background-image: -webkit-linear-gradient(270deg,rgba(228,155,218,1.00) 9.95%,rgba(237,237,237,1.00) 49.53%,rgba(219,165,165,1.00) 84.25%);
    background-image: -moz-linear-gradient(270deg,rgba(228,155,218,1.00) 9.95%,rgba(237,237,237,1.00) 49.53%,rgba(219,165,165,1.00) 84.25%);
    background-image: -o-linear-gradient(270deg,rgba(228,155,218,1.00) 9.95%,rgba(237,237,237,1.00) 49.53%,rgba(219,165,165,1.00) 84.25%);
    background-image: linear-gradient(180deg,rgba(228,155,218,1.00) 9.95%,rgba(237,237,237,1.00) 49.53%,rgba(219,165,165,1.00) 84.25%);
}
